*{
    margin: 0;
    padding: 10px;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

button{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 40%;
    transition: 0.5s;
    background: rgb(0, 118, 187);
    color: white;
    border-radius: 8vh; 
    width: 100%;
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
    transform: translateY(-10px);
    scale: 110%;
}

/* td{border: solid 2px green;}
 */

input{
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 8vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 100px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 40%;
    width: 100%;
}

h1{
    padding-top: 100px;
}