*{
    margin: 0;
    padding: 10px;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

<<<<<<< HEAD
:root{
    --tema: white;
    
}

html{
    padding: 0;
}
=======
>>>>>>> b4af1896e0b6b67c0276f976930afaf7334c2bba

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
<<<<<<< HEAD
    padding: 0px;
=======
>>>>>>> b4af1896e0b6b67c0276f976930afaf7334c2bba
}

#container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
<<<<<<< HEAD
    margin:10px;
=======
>>>>>>> b4af1896e0b6b67c0276f976930afaf7334c2bba
}

button{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 40%;
    transition: 0.5s;
    background: rgb(0, 118, 187);
    color: white;
    border-radius: 8vh; 
    width: 100%;
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
    transform: translateY(-10px);
    scale: 110%;
}

/* td{border: solid 2px green;}
 */

input{
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 8vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 100px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 40%;
    width: 100%;
}

h1{
    padding-top: 100px;
<<<<<<< HEAD
}

#navbar{
    display:flex;
    position: fixed;
    width: 100%;
    height: 10%;
    background: rgb(0, 118, 187);   
    padding: 0px;
    top: 0;
    left: 0;
    justify-content: end;
}

#voltar{
    margin: 10px 0 0 0 ;
    background: white;
    color: rgb(0, 118, 187);
    font-weight: bold;
}

#voltar:hover{
    transform: none;
=======
>>>>>>> b4af1896e0b6b67c0276f976930afaf7334c2bba
}