*{
    margin: 0;
    padding: 10px;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

:root{
    --tema: white;
    
}

html{
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}

#container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

#sideb{
    display: block;
    position: fixed;
    top: 10%;
    left: -30%;
    background-color: red;
    width: clamp(200px,30%,30%);
    height: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    transition: 0.3s;


    & #imgdiv{
        background: #333;
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color:white;

            & #profimg{
                width: clamp(97px, 50%, 97px);
                height: clamp(97px, 60%, 97px);
                border-radius: 50%;
                background-color: white;
                color: black;
            }
    }

    & #options{
        width: 100%;
        height: 70%;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        & a{
            margin-top: 10px;
        }
    }
}


button{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 40%;
    transition: 0.5s;
    background: rgb(0, 118, 187);
    color: white;
    border-radius: 8vh; 
    width: 100%;
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
    transform: translateY(-10px);
    scale: 110%;
}

/* td{border: solid 2px green;}
 */

input{
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 8vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 100px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 40%;
    width: 100%;
}

h1{
    padding-top: 100px;
}

#navbar{
    display:flex;
    position: fixed;
    width: 100%;
    height: 10%;
    background: rgb(0, 118, 187);   
    padding: 0px;
    top: 0;
    left: 0;
    justify-content: end;

    & #sidebutt{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 40px;
    }

    & #sidebutt:hover #sideb{
        display: flex;
    }
}

#voltar{
    margin: 10px 0 0 0 ;
    background: white;
    color: rgb(0, 118, 187);
    font-weight: bold;
}

#voltar:hover{
    transform: none;
}